html, body {
  margin-top: .7em;
  font-family: "Noto Sans", Helvetica, Arial;
  text-align: center;
}

.container {
  margin: .7em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
}

.container::after {
  content: '';
  width: 100%;
}

h1 {
  font-size: 1.6em;
}

h2 {
  order: 1;
}

button {
  width: 7em;
  padding: .15em;
  text-align: center;
}

#gridSize {
  width: 1.6em;
}

#grid {
  border: 1px solid rgba(0, 0, 0, .125);
  border-width: 4px 4px 3px 3px;
}

.cell {
  display: inline-block;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0 0 1px 1px;
}