.container {
  margin-top: .5em;
  display: flex;
  justify-content: space-around;
}

#gridSize {
  width: 2em;
}

#grid {
  border: 1px solid rgba(0, 0, 0, .1);
  border-width: 0 0 1px 1px;
}

.cell {
  display: inline-block;
  border: solid rgba(0, 0, 0, .1);
  border-width: 1px 1px 0 0;
  
}